
body, html {
  height: 100%;
  font-family: Arial, Helvetica,sans-serif;
  color: red;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRAv-GLmbWMsrlgHd_TxjqXdmBm3jAAE_vsew&usqp=CAU");
  height: 100%;background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}

/*start header*/
header{
background-color: #aaa;
}

header nav ul{
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;

}
header nav li{
  list-style: none;
  float: left;
}


header nav ul li a{
  color: #cc8888;
  padding: 20px;
  float: left;
  font-size:20px;
  
}

footer{
  font-size: 12px;
  text-align: center;
  padding: 50px 0;
  color: #ccc;
  background-color: 0,0,0,0.5;
}
header nav ul li a:hover{
color:cyan;
}

header nav ul li a:active {
  color: yellow;
}


header nav ul{
  padding:0;
  margin:0;
}

.container{
  background-color: #aaa;
  max-width:1200px;
  margin: 0 auto;
  min-height: 200px;
  padding: 40px;
  margin: 0 auto;
  
}

.container h1{
  padding: 0;
  margin: 0;
}
